# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
input_boolean: !include input_boolean.yaml
input_number: !include input_number.yaml
timer: !include timer.yaml
template: !include templates.yaml
sensor: !include sensors.yaml
utility_meter: !include utility_meter.yaml
mqtt: !include mqtt_dvcc.yaml