esphome:
  name: f16
  friendly_name: F16

esp32:
  board: esp32-s3-devkitc-1
  variant: esp32s3
  framework:
    type: arduino

logger:
  hardware_uart: USB_SERIAL_JTAG
  level: DEBUG

api:

ota:
  platform: esphome

ethernet:
  type: W5500
  clk_pin: GPIO42
  mosi_pin: GPIO43
  miso_pin: GPIO44
  cs_pin: GPIO41
  interrupt_pin: GPIO2
  reset_pin: GPIO1

i2c:
  - id: bus_a
    sda: 8
    scl: 18
    scan: true
    frequency: 400kHz

pcf8574:
  - id: pcf8574_hub_out_1
    i2c_id: bus_a
    address: 0x25
    pcf8575: true

  - id: pcf8574_hub_in_1
    i2c_id: bus_a
    address: 0x24
    pcf8575: true

uart:
  - id: uart_1
    baud_rate: 9600
    debug:
      direction: BOTH
      dummy_receiver: true
      after:
        timeout: 10ms
    tx_pin: 16
    rx_pin: 17

switch:
  - platform: uart
    uart_id: uart_1
    name: "RS485 Button"
    data: [0x11, 0x22, 0x33, 0x44, 0x55]

  - platform: gpio
    name: "QuinLED An1"
    id: f16_output01
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 0
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "QuinLED An2"
    id: f16_output02
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 1
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "USB Outlets"
    id: f16_output03
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 2
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "QuinLED Dig"
    id: f16_output04
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 3
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Water Pump Internal"
    id: f16_output05
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 4
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Bed Lift"
    id: f16_output06
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 5
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Mag Locks"
    id: f16_output07
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 6
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Starlink"
    id: f16_output08
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 7
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Water Pump External"
    id: f16_output09
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 8
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Towel Rails"
    id: f16_output10
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 9
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "HWS"
    id: f16_output11
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 10
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Awning"
    id: f16_output12
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 11
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Flood Rear"
    id: f16_output13
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 12
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Flood Drivers"
    id: f16_output14
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 13
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "Flood Passenger"
    id: f16_output15
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 14
      mode: OUTPUT
      inverted: true

  - platform: gpio
    name: "F16 Output 16"
    id: f16_output16
    pin:
      pcf8574: pcf8574_hub_out_1
      number: 15
      mode: OUTPUT
      inverted: true

binary_sensor:
  - platform: gpio
    name: "F16 Input 01"
    id: f16_input01
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 0
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 02"
    id: f16_input02
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 1
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 03"
    id: f16_input03
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 2
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 04"
    id: f16_input04
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 3
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 05"
    id: f16_input05
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 4
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 06"
    id: f16_input06
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 5
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 07"
    id: f16_input07
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 6
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 08"
    id: f16_input08
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 7
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 09"
    id: f16_input09
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 8
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 10"
    id: f16_input10
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 9
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 11"
    id: f16_input11
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 10
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 12"
    id: f16_input12
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 11
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 13"
    id: f16_input13
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 12
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 14"
    id: f16_input14
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 13
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 15"
    id: f16_input15
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 14
      mode: INPUT
      inverted: true

  - platform: gpio
    name: "F16 Input 16"
    id: f16_input16
    pin:
      pcf8574: pcf8574_hub_in_1
      number: 15
      mode: INPUT
      inverted: true

  # Pull-up resistance on PCB
  - platform: gpio
    name: "F16 W1 IO48"
    pin:
      number: 48
      inverted: true

  - platform: gpio
    name: "F16 W1 IO47"
    pin:
      number: 47
      inverted: true

  - platform: gpio
    name: "F16 W1 IO21"
    pin:
      number: 21
      inverted: true

  - platform: gpio
    name: "F16 W1 IO15"
    pin:
      number: 15
      inverted: true

  # Without resistance on PCB
  - platform: gpio
    name: "F16 W1 IO13"
    pin:
      number: 13
      inverted: false

  - platform: gpio
    name: "F16 W1 IO14"
    pin:
      number: 14
      inverted: false

  - platform: gpio
    name: "F16 433M"
    pin:
      number: 40
      inverted: false

sensor:
  # Tank 1 - RAW OUTPUT FOR DIAGNOSIS
  - platform: adc
    pin: 5
    name: "Tank 1 Raw"
    id: tank_1_raw
    update_interval: 5s
    attenuation: 11db
    unit_of_measurement: "V"

  # Tank 2 - RAW OUTPUT FOR DIAGNOSIS
  - platform: adc
    pin: 7
    name: "Tank 2 Raw"
    id: tank_2_raw
    update_interval: 5s
    attenuation: 11db
    unit_of_measurement: "V"

  # Grey Tank - RAW OUTPUT FOR DIAGNOSIS
  - platform: adc
    pin: 6
    name: "Grey Tank Raw"
    id: grey_tank_raw
    update_interval: 5s
    attenuation: 11db
    unit_of_measurement: "V"

  # Chassis Water - RAW OUTPUT FOR DIAGNOSIS
  - platform: adc
    pin: 4
    name: "Chassis Water Raw"
    id: chassis_water_raw
    update_interval: 5s
    attenuation: 11db
    unit_of_measurement: "V"

text_sensor:
  - platform: ethernet_info
    ip_address:
      name: "F16 Ethernet IP"
      id: eth_ip

web_server:
  port: 80

font:
  - file: "gfonts://Roboto"
    id: roboto
    size: 20
  - file: "gfonts://Roboto"
    id: roboto_small
    size: 12

display:
  - platform: ssd1306_i2c
    i2c_id: bus_a
    model: "SSD1306 128x64"
    address: 0x3C
    lambda: |-
      it.printf(0, 0, id(roboto), "KinCony F16");
      if (id(eth_ip).has_state() && !id(eth_ip).state.empty()) {
        it.printf(0, 28, id(roboto_small), "ETH: %s", id(eth_ip).state.c_str());
      } else {
        it.printf(0, 28, id(roboto_small), "ETH: Not connected");
      }